# 01. Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data set

In [5]:
# importing data set in pickel format.

df = pd.read_pickle(r'/Users/sandeepti/Desktop/instacart Basket Analysis_python/02 Data/Prepared Data/orders_products_combined.pkl')

In [6]:
df_orders_products_combined = pd.read_pickle(r'/Users/sandeepti/Desktop/instacart Basket Analysis_python/02 Data/Prepared Data/orders_products_combined.pkl')

In [7]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [8]:
df_orders_products_combined.shape

(32640698, 11)

In [9]:
df = pd.read_csv(r'/Users/sandeepti/Desktop/instacart Basket Analysis_python/02 Data/Prepared Data/products_checked.csv',index_col = False)

In [10]:
df_prods_checked =  pd.read_csv(r'/Users/sandeepti/Desktop/instacart Basket Analysis_python/02 Data/Prepared Data/products_checked.csv')

In [11]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_prods_checked.shape

(49672, 6)

# 03. Merging Data Frames

In [13]:
# Merging data frames df_orders_products_combined and Df_prods_checked

df_orders_products_merged = df_orders_products_combined.merge(df_prods_checked, on = 'product_id', indicator = False, how = 'outer')

In [14]:
df_orders_products_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0.0,2539329.0,1.0,1.0,2.0,8.0,NaN,196.0,1.0,0.0,both,195.0,Soda,77.0,7.0,9.0
1,1.0,2398795.0,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
2,2.0,473747.0,1.0,3.0,3.0,12.0,21.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
3,3.0,2254736.0,1.0,4.0,4.0,7.0,29.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0
4,4.0,431534.0,1.0,5.0,4.0,15.0,28.0,196.0,1.0,1.0,both,195.0,Soda,77.0,7.0,9.0

In [15]:
df_orders_products_merged['_merge'].value_counts()

_merge
both          32435059
left_only       206209
right_only           0
Name: count, dtype: int64

# 04. Exporting Data in pickel format

In [16]:
# Export data to pkl

df_orders_products_merged.to_pickle(r'/Users/sandeepti/Desktop/instacart Basket Analysis_python/02 Data/Prepared Data/orders_products_merged.pkl')